*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
root{
    scroll-behavior: smooth;
}
body{
    display: grid;
	grid-template-columns:1fr;
	grid-template-rows: auto auto auto auto auto auto auto;
	grid-template-areas: "nav" "sliderFotos" "sliderEspecialidades"
	 "mision" "staff" "contacto";	
}

#nav{
    grid-area: nav;
}
#nav img{
    max-width: 70px;
}

#sliderFotos{
    grid-area:sliderFotos;
}

#sliderFotos .carousel-inner img {
    max-height: 50vh;
    background-size: cover;
}

#sliderEspecialidades{
    grid-area: sliderEspecialidades;
    background-color: rgb(248, 248, 248);
    width: 100vw;
    
}

.contenedorTitulo h3 {
    text-align: center;
    margin-top: 30px;
    font-weight: 900;
    font-size: 1.5rem;
    color: royalblue;
    line-height: 0.7;
}
.contenedorTitulo .indicadores{
    text-align: right;
}
.contenedorSliderEspecialidades .indicadores button{
    height: 3px;
    width: 10px;
    background-color: rgba(65, 105, 225, 0.384);
    border: none;
    cursor: pointer;
    margin-right: 2px;
}
.contenedorSliderEspecialidades .indicadores button:hover{
    background-color: rgba(0, 0, 0, 0.5);
}
.contenedorSliderEspecialidades .indicadores button.activo{
    background-color:royalblue;
}

.contenedorEsp{
    display: flex;
    align-items: center;
    position: relative;
}
.contenedorEsp .flechaIzquierda, .contenedorEsp .flechaDerecha{
    position: absolute;
    border: none;
    background-color: rgba(65, 105, 225, 0.2);
    font-size: 40px;
    height: 50%;
    top: calc(50% - 30%);
    line-height: 40px;
    width: 20px;
    color: white;
    cursor: pointer;
    z-index: 500;
    transition: .2s ease all;
}
.contenedorEsp .flechaIzquierda:hover, .contenedorEsp .flechaDerecha:hover{
    background-color: rgba(65, 105, 225, 0.5);
}
.contenedorEsp .flechaIzquierda{
    left: 0;
}
.contenedorEsp .flechaDerecha{
    right: 0;
}
.contenedorEsp .contenedorSliderEsp{
    width: 100%;
    padding: 10px 0;
    overflow: hidden;
    scroll-behavior: smooth;
}
.contenedorEsp .contenedorSliderEsp .slider{
    display: flex;
    flex-wrap: nowrap;
}
.contenedorEsp .contenedorSliderEsp .slider .especialidad{
    min-width: 40%;
    margin: 5%;
    transition: .3s ease all;
}
.contenedorEsp .contenedorSliderEsp .slider .especialidad.hover{
    transform: escale(1.1);
    transform-origin: center;
}
.contenedorEsp .contenedorSliderEsp .slider .especialidad img{
    width: 100%;
    vertical-align: top;
    box-shadow: 4px -4px 10px 3px rgba(0, 0, 0, 0.1);   
    border-bottom-style: solid;
}
.contenedorEsp .contenedorSliderEsp .slider .especialidad a{
    text-decoration: none;
    
}
.contenedorEsp .contenedorSliderEsp .slider .especialidad .tituloEspecialidad{
    background-color:rgba(0, 0, 0, 0.1);
    font-size: 1.25em;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 3px;
    color: royalblue;
    font-weight: 900;
    box-shadow: 4px -4px 10px 3px rgba(0, 0, 0, 0.1);
}






#mision{
    grid-area: mision;
    background-color: royalblue;
    display: flex;
    flex-wrap: wrap;
    overflow-y: hidden;
}
#mision .contenedorMision{
    width: 100%;
    padding: 2%;
    
}
#mision .tituloMision{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 900;
    font-size: 1.5rem;
    color: white;
    width: 100%;
}

#fotoEquipoSaludMision{
    width: 100%;
    overflow: hidden;
}
#fotoEquipoSaludMision img{
    margin-top: 0;
    position: relative;
    height: 160%;
    
}





#mision .subtituloMision{
    color: white;
    font-size: 1.2rem;
    text-align: center;
    
}
#mision .pMision{
    color: white;
    font-size: 1rem;
    text-align: center;
    
}


#staff{
    grid-area: staff;
    background-color: chartreuse;
}

#contacto{
    grid-area: contacto;
    background-image: url(../img/fondo-form-contacto.jpg);
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    
}
#contacto #form{
    width: 85%;
    padding-bottom: 60px;
}
#contacto .formulario{
  background-color: rgba(31, 31, 31, 0.3);
  width: 100%;

  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
}
#contacto .formHeader {
    width: 100%;
    background-color: rgba(65, 105, 225, 0.6);
    color: white; 
}
.formHeader span {
    display: block;
    text-align: center;
    padding: 0.8em; 
}
.formHeader span i{
    font-size: 2em;
    font-weight: 600;
}
.form {
    padding: 1em;
    font-size: 0.8em; 
}
.form label {
    width: 80%;
    font-weight: 400; 
    font-size: 1em;
    color: white;
}

.form input:not([type="submit"]), .form .form textarea {
    border: none;
    border-bottom: 2px solid royalblue;
    margin-bottom: 30px;
    font-size: 1.3em;
    outline: none;
    color: royalblue;
    font-weight: 500;
}
.form textarea{
    color: royalblue;
    font-size: 1.3em;
    border-bottom: 2px solid royalblue;
    min-height: 70px;
    font-weight: 500;
}
.form textarea:focus{
   outline: 0 none;
}
.form label, .form input, .form textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
 }
 .botonEnvio {
    border: none;
    padding: 10px;
    width: 30%;
    color: white;
    background-color: rgba(65, 105, 225, 0.6);
    cursor: pointer; 
    font-weight: 500;
    font-size: 1.2em;
}
.botonEnvio:hover {
      
      background-color: rgba(65, 105, 225, 1);
}


.informacion{
    width: 85%;
    background-color: rgba(65, 105, 225, 0.6);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
}

.informacion .info{
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    align-items: center;
}
.informacion .info img{
    max-height: 45px;
}
.informacion .info .texto{
    padding-left: 10px;
    color: white;
}
.informacion .info .texto .titulo{
    font-size: 1.6em;
    font-weight: 700;

}
.informacion .info .texto .subtitulo{
    font-size: 1.1em;
    font-weight: 500;
}





/*  ESPECIALIDADES   */

/* Odonto */
.tituloPagina{
    text-align: center;
    font-weight: 900;
    color: royalblue;
    margin-top: 15px;
    margin-bottom: 25px;

}
.odontologia{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;  
}

.odontologia .profesional{
    background-color: royalblue;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

.odontologia .profesional .textoProfesional{
    color: white;
    width: 60%;
    
}
.profesional .textoProfesional .tituloProfesional{
    font-size: 2em;
    font-weight: 700;
    padding-left: 15px;   
}
.textoProfesional .tituloProfesional p{
    margin-bottom: 0;
}
.profesional .textoProfesional .subtituloProfesional{
    font-size: 1.4em;
    font-weight: 600;
    padding-left: 20px;
    line-height: 1;
    
}
.profesional .textoProfesional .descripcionProfesional{
    font-size: 1em;
    padding-left: 25px;
    font-weight: 400;
    text-align: center;
}


.profesional .fotoProfesional img{
    height: 40vh;
    
}

.odontologia .slider{
    width: 50%;
    background-color: royalblue;
}
.odontologia .slider .carousel-inner img{
    max-height: 60vh;
}
.odontologia .informacionOdontologia{
    width: 50%;
    background-color: white;
    justify-content: center;
}
.informacionOdontologia .accordion-button{
    font-weight: 600;
}
.informacionOdontologia .accordion p{
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 10px;
    padding-top: 10px;
}
.odontologia .casosExito{
    padding: 50px;
    width: 100%;
    background-color: royalblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.odontologia .textoCasos{
    width: 50%;
    color: white;
}
.odontologia .tituloCasos{
    font-size: 3em;
    font-weight: 500;
}
.odontologia .subtituloCasos{
    font-size: 2em;
    font-weight: 300;
}

/* CASOS B */
.odontologia .casosExitoB{
    width: 100%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.odontologia .textoCasosB{
    width: 50%;
    color: royalblue;
    padding: 20px;
}
.odontologia .seccion1OrtodonciaInvisible{
    width: 100%;
}


.odontologia .fotoOrtodonciaInvisible1{
    width: 100%;
    background-size: cover;
}
.odontologia .tituloCasosB{
    font-size: 3em;
    font-weight: 500;
}
.odontologia .subtituloCasosB{
    font-size: 2em;
    font-weight: 300;
    color: royalblue;
}

.odontologia .subtituloCasosB2Padre{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: royalblue;
}
.subtituloCasosB2Padre .subtituloCasosB{
    width: 100%;
    font-weight: 500;
    font-size: 2.8em;
    text-align: center;
    color: white;
}
.galeriaOrtodonciaInvisible2 {
    width: 50%;
    background-color: royalblue;
}
.galeriaOrtodonciaInvisible2 .fotoOrtodonciaInvisible {
    display: flex;
    justify-content: end;
}
.galeriaOrtodonciaInvisible2 img {
    width: 50%;
    background-size: cover;
    margin-right: 0;
}


/* CASOS B*/







@media (min-width: 1200px){
    .contenedorEsp .contenedorSliderEsp .slider .especialidad{
        min-width: 23%;
    }

}




/* Antes y despues  */
/* holder */
div #comparison {
    width: 60vw; height: 60vw;
    max-width: 250px; max-height: 250px;
    overflow: hidden;
    }
    div #comparison figure {
    background-image: url(../img/esp-odonto/antes-despues/antes.png);
    background-size: cover; font-size: 0;
    width: 100%; height: 100%; margin: 0;
    position: relative;
    }
    div #comparison figure > img {
    position: relative; width: 100%;
    }
    div#comparison figure div {
    background-image: url(../img/esp-odonto/antes-despues/despues.png);
    background-size: cover;
    position: absolute;
    width: 50%;
    box-shadow: 0 5px 10px -2px rgba(0,0,0,0.3);
    overflow: hidden; bottom: 0; height: 100%;
    } 
    /* slider */
    input[type=range]{
    -webkit-appearance:none;
    -moz-appearance:none;
    position: relative;
    top: -2rem; left: -2%;
    background-color: rgba(255,255,255,0.1);
    width: 102%;
    }
    input[type=range]:focus { outline: none; }
    input[type=range]:active { outline: none; }
    input[type=range]::-moz-range-track {
    -moz-appearance:none;
    height:15px;
    width: 98%;
    background-color: rgba(255,255,255,0.1);
    position: relative;
    outline: none;
    }
    input[type=range]::active {
    border: none; outline: none;
    }
    input[type=range]::-webkit-slider-thumb {
    -webkit-appearance:none;
    width: 20px; height: 15px;
    background: #fff;
    border-radius: 0;
    }
    input[type=range]::-moz-range-thumb {
    -moz-appearance: none;
    width: 20px; height: 15px; background: #fff;
    border-radius: 0;
    }
    input[type=range]:focus::-webkit-slider-thumb {
    background: rgba(255,255,255,0.5);
    }
    input[type=range]:focus::-moz-range-thumb {
    background: rgba(255,255,255,0.5);
    } 

    /* termina antes y despues */


    /* MEDIA QUERIES 800 PX */
@media (min-width: 800px){
    .contenedorEsp .contenedorSliderEsp{
        overflow: visible;
        display: flex;
    }
    .contenedorEsp .contenedorSliderEsp .slider{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .contenedorEsp .contenedorSliderEsp .slider .especialidad{
        min-width: 30%;
    }
    .contenedorEsp .flechaIzquierda,
    .contenedorEsp .flechaDerecha,
    .contenedorSliderEspecialidades .indicadores {
        display: none;
    }
}